.dropdown-menu>.dropdown-primary>a, .dropdown-menu>.dropdown-primary>a:focus, .dropdown-menu>.dropdown-primary>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #286090ce;
    border-color: #28609080;
    outline: 0;
}

.dropdown-menu>.dropdown-info>a, .dropdown-menu>.dropdown-info>a:focus, .dropdown-menu>.dropdown-info>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #7cccf4b9;
    border-color: #5696b6b9;
    outline: 0;
}

.dropdown-menu>.dropdown-success>a, .dropdown-menu>.dropdown-success>a:focus, .dropdown-menu>.dropdown-success>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #22a76bc7;
    border-color: #00a65cde;
    outline: 0;
}

.dropdown-menu>.dropdown-warning>a, .dropdown-menu>.dropdown-warning>a:focus, .dropdown-menu>.dropdown-warning>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f7d942de;
    border-color: #d3ba3a;
    outline: 0;
}

.dropdown-menu>.dropdown-danger>a, .dropdown-menu>.dropdown-danger>a:focus, .dropdown-menu>.dropdown-danger>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f04b4bdc;
    outline: 0;
}